body{
    background: #1D2228;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
    -30px 0px 40px rgba(0, 0, 0, 0.1);
    background: #111922;
    color: #FFFFFF;
    width: 65%;
    height: 95vh;
    margin: auto;
    font: 1rem Arial, Helvetica, Sans-serif;
    margin-bottom: 1%;
    margin-top: 1.2%;
    transition: opacity 1500ms ease 500ms;
}

.container{
    text-align: center;
    padding:1%;
    margin-top: 1%;
}

/*results output source*/
#winnerDisplay{
    width: 98%;
    border: 1px solid #7F745F;
    margin: auto;
    background: #FD8F3A;
    border-radius: 0.2rem;
    font-weight: bold;
}

aside{
    width: 90%;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 5%;
    font: 1rem/1.6 Arial, Helvetica, Sans-serif;
    color: #FFFFFF;
    transition: opacity 700ms ease 200ms;
}

section #playerHand img,
section #computerHand img{
    height: 6rem;
    width: 6rem;
}

section #computer{
    transform: rotateX(180deg);
}

section #player{
    transform: scaleX(-1);
}

section #playerHand p,
section #computerHand p{
    margin-bottom: 0;
    margin-top: 0;
}


#icons{
    display: flex;
    width: 98%;
    justify-content: space-around;
}

#icons div{
    flex-basis: 30%;
    margin-bottom: 1rem;
}

.btn{
    font-size: 100%;
    color: #FFFFFF;
    background: #FD8F3A;
    border: none;
    box-shadow: 5px 0px 10px #080808,
    -5px 0px 10px #080808;
    border-radius: .3rem;
    height: 6.5rem;
    width: 10rem;
    padding: 1%;
}

.btn:hover,
.replay button:hover,
#play:hover{
    background: #FC743A;
    box-shadow: none;
    border: none;
    transition: 800ms ease;
}

#icons img{
    height: 5rem;
    width:  5rem;
}

#icons p{
    margin-top: 0px;
}
/*fading in and out*/

.dissapear{
    opacity: 0;
    pointer-events: none;
}

.replay{
    margin-top: 1rem;
}

.replay button,
 #play{
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    box-shadow: 5px 0px 10px #080808,
    -5px 0px 10px #080808;
    height: 2rem;
    width: 6rem;
    background: #FD8F3A;
    padding: 4px;
    margin-right: 2rem;
    margin-left: 1rem;
    border-radius: .2em;
}

@media(max-width: 850px){

    section{
        background: none;
        width: 90%;
    }
    
    #winnerDisplay{
        width: 100%;
    }
    
    #icons{
        width: 100%;
        margin: auto;
    }

    #icons div{
        flex-basis: 33.3%;
    }

    .btn{
        width: 90%;
    }

}